<!DOCTYPE html>
<html>

<head>
	<title>Claim and Fact Checking Spreading Visualization</title>
	<!--#include virtual="./includes/includes.html" -->
</head>

<body>
	<div id="vue-app" :class="{'modal-open':(show_edge_modal || show_node_modal)}">
		<div id="spinner" v-if="loading" v-bind:class="{'transparent':mounted}">
			<span class="fa"><i class="fa" :class="'fa-hourglass-' + spinner_state" :style="'transform: rotate('+spinner_rotate+'deg)'" aria-hidden="true"></i></span>
			<div :style="'display: block'">
				<div>{{spinner_notices.articles}}</div>
				<div>{{spinner_notices.timeline}}</div>
				<div>{{spinner_notices.graph}}</div>
			</div>
		</div>


		<!--#include virtual="./includes/header.html" -->


		<!--
		#######
		#        ####  #####  #    #
		#       #    # #    # ##  ##
		#####   #    # #    # # ## #
		#       #    # #####  #    #
		#       #    # #   #  #    #
		#        ####  #    # #    #

	-->
		<section id="form" class="container">
			<form @submit.stop.prevent="submitForm()">
				<div class="container">
					<div class="col-12 form-group text-center">
						<input id="query" class="form-control" type="text " v-model="query_text"  :disabled="input_disabled" />

					</div>

					<div class="col-12 text-center form-group">
						<span class="radio-container">
							<label class="">
								<input v-model="query_sort" type="radio" name="sort_by" id='sort_by_relevant' checked value="relevant"  :disabled="input_disabled" /> Relevant
							</label>
						</span>
						<span class="radio-container">
							<label class="">
								<input v-model="query_sort" type="radio" name="sort_by" id="sort_by_recent" value="recent"  :disabled="input_disabled" /> Recent
							</label>
						</span>
					</div>
					<div class="col-12 text-center">
						<input type="hidden" v-model="query_include_mentions" name="include_user_mentions" id="include_user_mentions_true" value="true"  :disabled="input_disabled" />
						<button class="btn btn-primary btn-blue" id="submit" :disabled="input_disabled" > Search </button>
					</div>
					<div class="clearfix"></div>
				</form>


			</div>
		</section>
<!--
    #
   # #   #####  ##### #  ####  #      ######  ####
  #   #  #    #   #   # #    # #      #      #
 #     # #    #   #   # #      #      #####   ####
 ####### #####    #   # #      #      #           #
 #     # #   #    #   # #    # #      #      #    #
 #     # #    #   #   #  ####  ###### ######  ####
  -->
		<section id="articles" v-bind:class="{'hidden': !show_articles}" class="container-fluid">
			<div class="container">
				<div>
					<p>Select claims and fact checking articles to visualize.</p>
				</div>

				<p class="text-center">
					<button @click.stop.prevent="visualizeSelectedArticles()" class="btn btn-primary" id="visualize_top"> Visualize </button>

				</p>
				<ul class="list-unstyled" id="article_list">
					<li v-for="article, index in getSubsetOfArticles()" :class="article.site_type" class="rounded">
						<label class="row p-3">
							<input type="checkbox" :id="article.url_id" :value="article.url_id" v-model="checked_articles" />
							<div class="check_icons col-1 text-center d-flex align-items-center">
								<i class="fa fa-square-o fw" aria-hidden="true"></i>
								<i class="fa fa-check-square-o fw" aria-hidden="true"></i>
							</div>

							<div class="col-11">
								<span class="article_title"><a :href="article.url_raw" target="_blank">{{article.title}}</a></span>
								<span class=""><span class="article_domain">From <a :href="'http://' + article.site_domain" target="_blank">{{article.site_domain}}</a></span>
								<span class="article_date">on {{getDateline(article.pub_date)}}</span></span>
								<span class="article_stats"><span><b>{{article.number_of_tweets}}</b> Tweets</span></span>
								<div class="clearfix"></div>
							</div>
						</label>
					</li>
				</ul>

				<div class="clearfix"></div>
				<div class="text-center">
					<button @click.stop.prevent="visualizeSelectedArticles()" class="btn btn-primary btn-blue" id="visualize"> Visualize </button>

					<span class="text-center" id="load_more">
						<button class="btn btn-warning" :disabled="articles_to_show >= articles.length" @click="loadMore()"> Load More </button>
						<div v-if="articles_to_show >= 100 && articles.length >= 100" class="text-muted">Your query has found too many matches for us to load. Please narrow down your query and try again to get more articles.</div>
						<div v-if="articles_to_show >= articles.length && articles.length < 100" class="text-muted">We couldn't find any more articles for this query.</div>
					</span>
				</div>

				<div class="clearfix"></div>
			</div>
		</section>
<!--
  #####
 #     # #####    ##   #####  #    #  ####
 #       #    #  #  #  #    # #    # #
 #  #### #    # #    # #    # ######  ####
 #     # #####  ###### #####  #    #      #
 #     # #   #  #    # #      #    # #    #
  #####  #    # #    # #      #    #  ####
 -->
		<section id="graphs" v-bind:class="{'hidden': !show_graphs}" class="container-fluid row no-gutters">
			<div class="col-12 text-center">
				<button id=""  :disabled="graph_column_size >= 12"  class="layout-button layout-button-timeline btn btn-primary" @click="resizeGraphs(12)"><span><i class="fa fa-line-chart" aria-hidden="true"></i></span></button>
				<button id=""  :disabled="graph_column_size == 3"  class="layout-button layout-button-split btn btn-primary" @click="resizeGraphs(3)"><span><i class="fa fa-line-chart" aria-hidden="true"></i></span><span><i class="fa fa-share-alt" aria-hidden="true"></i></span></button>
				<button id=""  :disabled="graph_column_size <= 0"  class="layout-button layout-button-graph btn btn-primary" @click="resizeGraphs(0)"><span><i class="fa fa-share-alt" aria-hidden="true"></i><i class="fa fa-rotate-270 fa-share-alt" aria-hidden="true"></i></span></button>
			</div>
			<div class="col-md-12 text-center" id="legend">
				<label><span class="line claim_label">&nbsp;</span> Claims</label>
				<label><span class="line fact_checking_label">&nbsp;</span> Fact-Checks</label>
			</div>


			<div id="timeline"  :style="graph_column_size <= 0 ? 'display: none' : ''" class="col-12"  :class="'col-md-' + (graph_column_size)">
				<div id="chart" style="width: 100%; height: 80vh; margin: 0 auto;" >
					<svg></svg>
				</div>
				<div id="focus_label" class="text-center">Click and drag below to select time interval</div>

				<!-- <button id="shrink_left_button" class="btn btn-primary" :disabled="graph_column_size <= 0" @click="shrinkTimeline">&lt;</button> -->

			</div>


			<div class="col-12" id="sigmagraph" :style="graph_column_size >= 12 ? 'display: none' : ''" :class="'col-md-' + (12-graph_column_size)">


				<div id="graph_error" class="p-5 d-flex flex-column justify-content-center" v-if="failed_to_get_network">
					There was not enough data to create a network graph.  Try selecting more popular articles and trying again.
				</div>
				<div id="graph-container" style="width: 100%; height: 80vh; margin: 0 auto;">

				</div>
				<div  v-if="show_zoom_buttons" id="graph_help_text">
					Click on network nodes and edges for details.
				</div>
				<div  v-if="show_zoom_buttons" id="bot_legend" class="d-flex align-items-center justify-content-center flex-column">
					<div class="likely_bot">Likely Bot</div>
					<div
						class=""
						id="bot_legend_gradient"
						:style="
							'background: linear-gradient(to top, rgb('
							+ colors.node_colors.botscores[4].red + ','+ colors.node_colors.botscores[4].green + ','+ colors.node_colors.botscores[4].blue + ') 0%, rgb('
							+ colors.node_colors.botscores[4].red + ','+ colors.node_colors.botscores[4].green + ','+ colors.node_colors.botscores[4].blue + ') 20%, rgb('
							+ colors.node_colors.botscores[3].red + ','+ colors.node_colors.botscores[3].green + ',' + colors.node_colors.botscores[3].blue + ') 20%, rgb('
							+ colors.node_colors.botscores[3].red + ','+ colors.node_colors.botscores[3].green + ',' + colors.node_colors.botscores[3].blue + ') 40%, rgb('
							+ colors.node_colors.botscores[2].red + ','+ colors.node_colors.botscores[2].green + ',' + colors.node_colors.botscores[2].blue + ') 40%, rgb('
							+ colors.node_colors.botscores[2].red + ','+ colors.node_colors.botscores[2].green + ',' + colors.node_colors.botscores[2].blue + ') 60%, rgb('
							+ colors.node_colors.botscores[1].red + ','+ colors.node_colors.botscores[1].green + ',' + colors.node_colors.botscores[1].blue + ') 60%, rgb('
							+ colors.node_colors.botscores[1].red + ','+ colors.node_colors.botscores[1].green + ',' + colors.node_colors.botscores[1].blue + ') 80%, rgb('
							+ colors.node_colors.botscores[0].red + ','+ colors.node_colors.botscores[0].green + ','+ colors.node_colors.botscores[0].blue + ') 80%, rgb('
							+ colors.node_colors.botscores[0].red + ','+ colors.node_colors.botscores[0].green + ','+ colors.node_colors.botscores[0].blue + ') 100%)'"
						>

					</div>
					<div class="likely_human">Likely Human</div>
				</div>
				<div id="zoom_buttons" v-if="show_zoom_buttons">
					<div class="float-left">
						<button v-if="!getting_bot_scores.running" @click.stop.prevent="getMoreBotScores" class="mr-2 float-left btn btn-primary" id="">Update Bot Scores</button>
	                    <button v-if="getting_bot_scores.running" disabled class="mr-2 float-left disabled btn btn-primary" id="">Fetching Scores...</button>
	                    <!-- <button v-if="twitter_account_info.id" @click.stop.prevent="twitterLogOut()" class="btn btn-primary" id="un_authenticate_button">Disable Twitter</button> -->
						<small>{{graph.score_stats.found}} of {{graph.score_stats.total}} scores found.</small>
                        <small v-if="graph.score_stats.found > 0">{{graph.score_stats.found - graph.score_stats.old}} {{graph.score_stats.found - graph.score_stats.old == 1?'is':'are'}} fresh.</small>
                        <div><small v-if="graph.score_stats.unavailable > 0">{{graph.score_stats.unavailable}} could not be updated.</small></div>
						<!-- <div><small v-if="getting_bot_scores.running"></small></div> -->
					</div>
					<div class="float-right">

						<button class="btn btn-primary" type="button" value ="-" id="zoom-out" v-if="show_zoom_buttons" @click="zoomOutGraph"><i class="fa fa-minus" aria-hidden="true"></i></button>
						<button class="btn btn-primary" type="button" value ="+" id="zoom-in" v-if="show_zoom_buttons" @click="zoomInGraph"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>

				</div>
				<!-- <button id="shrink_right_button"  :disabled="graph_column_size >= 12"  class="btn btn-primary" @click="shrinkGraph">&gt;</button> -->
			</div>


		</section>



		<!--#include virtual="./includes/footer.html" -->


		<!--
		#     #
		##   ##  ####  #####    ##   #       ####
		# # # # #    # #    #  #  #  #      #
		#  #  # #    # #    # #    # #       ####
		#     # #    # #    # ###### #           #
		#     # #    # #    # #    # #      #    #
		#     #  ####  #####  #    # ######  ####
		-->

        <div id="errorModal" :class="{'modal-show': show_error_modal}" @click.stop="toggleErrorModal()" class="modal " tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"  :style="modal_opacity?'opacity: 1;':'opacity: 0;'" aria-labelledby="nodeModalLabel">
            <div class="modal-dialog" role="document">
                <div @click.stop="" class="alert m-5 alert-danger">
                    <div class="modal-header">
                        <h4 class="modal-title text-center" id="errorModalLabel" >
							An Error Occurred
                        </h4>
						<button type="button" class="close float-right"  @click="toggleErrorModal()"aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body" id="errorModalBody" >
						<div class="d-flex align-items-center">
							<i class="float-left m-2 fa fa-3x fa-exclamation-triangle" aria-hidden="true"></i>
							<span>{{error_message}}</span>
						</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="toggleErrorModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>


		<div id="edgeModal" :class="{'modal-show': show_edge_modal}" @click.stop="toggleEdgeModal()" class="modal " tabindex="-1" role="dialog" aria-labelledby="edgeModalLabel"  :style="modal_opacity?'opacity: 1;':'opacity: 0;'" aria-labelledby="nodeModalLabel">
			<div class="modal-dialog" role="document">
				<div @click.stop="" class="modal-content">
					<div class="modal-header">
						<button type="button" class="close"  @click="toggleEdgeModal()"aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="edgeModalLabel" >
							<a target="_blank" :href="'https://twitter.com/intent/user?user_id='+ edge_modal_content.edge.source">@{{edge_modal_content.edge.source_screenName}}</a>

							{{ edge_modal_content.label_string }}

							<a target="_blank" :href="'https://twitter.com/intent/user?user_id='+ edge_modal_content.edge.target">@{{edge_modal_content.edge.target_screenName}}</a>

						</h4>
					</div>
					<div class="modal-body" id="edgeModalBody" >
						<template v-for="(id, index) in edge_modal_content.edge.outgoing_ids">
							{{edge_modal_content.edge.titles[index]}}

							<div class="modal_links">See <a target="_blank" :href="edge_modal_content.tweet_urls[id]">tweet</a>  or  <a target="_blank" :href="edge_modal_content.edge.url_raws[index]">article</a></div>

						</template>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" @click="toggleEdgeModal()">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div id="nodeModal"  :class="{'modal-show': show_node_modal}" @click.stop="toggleNodeModal()" class="modal "  tabindex="-1" role="dialog" :style="modal_opacity?'opacity: 1;':'opacity: 0;'" aria-labelledby="nodeModalLabel">
			<div class="modal-dialog"  role="document">
				<div class="modal-content" @click.stop="">
					<div class="modal-header">
						<button type="button" class="close" @click.stop="toggleNodeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="nodeModalLabel">
							User:  <a target="_blank" v-bind:href="'https://twitter.com/' + node_modal_content.user_id">@{{node_modal_content.screenName}}</a>
						</h4>
					</div>
					<div class="modal-body" >
						<div class="botscore alert" :style="{'background-color': node_modal_content.botcolor, 'color': node_modal_content.botscore !== false && node_modal_content.botscore >= 0 && node_modal_content.botscore < 35 ?'white':'black' }">
							<p>Botometer Score:
								<span v-if="node_modal_content.botscore > 0"><b>{{node_modal_content.botscore}}%</b></span>
								<span v-if="!node_modal_content.botscore">Unavailable</span>
								<span v-if="node_modal_content.botscore < 0">Could not be retrieved.  It is possible that this user's timeline is set to private or has been deleted entirely.</span>
								<div v-if="node_modal_content.botscore > 0">Last calculated: {{formatTime(node_modal_content.timestamp)}}</div>
							</p>
							<p v-if="">
								<button v-if="!getting_bot_scores.running" @click.stop.prevent="getSingleBotScore(node_modal_content.screenName)" class="btn btn-primary" id="">Update Bot Score</button>
								<button v-if="getting_bot_scores.running" class="btn btn-primary disabled" disabled id="">Getting Bot Score...</button>
							</p>

							<div v-if="node_modal_content.botscore > 0">
								<button class="btn btn-primary btn-sm" @click="feedback_form.display = !feedback_form.display" >Bot Score Feedback</button>

								<form class="form" v-if="feedback_form.display" @submit.prevent="submitFeedbackForm">
									<br />
									<div class="form-group">
										<label>The account @{{node_modal_content.screenName}} is a :</label>
										<select v-model="feedback_form.type" class="form-control">
											<option v-for="value, key in feedback_form.type_choices" :value="value">{{key}}</option>
										</select>
									</div>
									<div class="form-group">
										<label>I know this because:</label>
										<textarea v-model="feedback_form.comment" class="form-control"></textarea>
									</div>
									<div class="form-group">
										<input type="submit" class="btn btn-primary" value="Submit Feedback" />
									</div>
								</form>
							</div>
						</div>
						<h2>has quoted: <span v-if="node_modal_content.has_quoted_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.has_quoted">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a> </h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>


						<h2>was quoted by: <span v-if="node_modal_content.is_quoted_by_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.is_quoted_by">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a></h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>
						<h2>has mentioned: <span v-if="node_modal_content.has_mentioned_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.has_mentioned">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a></h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>
						<h2>was mentioned by: <span v-if="node_modal_content.is_mentioned_by_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.is_mentioned_by">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a></h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>
						<h2>has retweeted: <span v-if="node_modal_content.has_retweeted_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.has_retweeted">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a></h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>
						<h2>was retweeted by: <span v-if="node_modal_content.is_retweeted_by_count == 0">nobody</span></h2>
						<template v-for="user in node_modal_content.is_retweeted_by">
							<h3>User:  <a target="_blank" v-bind:href="user.user_url">{{user.screenName}}</a></h3>
							<template v-for="(title, index) in user.article_titles">
									<div class='article_headline'>{{title}}</div>
									<div class="modal_links">See <a target="_blank" :href="user.tweet_urls[index]">tweet</a> or <a target="_blank" :href="user.article_urls[index]">article</a></div>
							</template>
						</template>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" @click.stop="toggleNodeModal()">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/vue-app.js"></script>
</body>
</html>
