<!DOCTYPE html>
<html>

<head>
	<title>Claim and Fact Checking Spreading Visualization</title>
	<script src="/static/js/vue@2.4.0.js"></script>
	<script src="/static/js/moment@2.18.1.js"></script>
	<!--#include virtual="./includes/includes.html" -->




</head>

<body>
	<div id="vue-app">
		<div id="spinner" v-if="loading" v-bind:class="{'transparent':mounted}">
		</div>
		<!--#include virtual="./includes/header.html" -->
		<section id="form" class="container-fluid">
			<form>
				<div class="container">
					<div class="col-lg-8 offset-lg-2 col-xs-12 form-group text-md-right text-xs-center">
						<input id="query" class="form-control" type="text " >

					</div>


					<div class="col-xs-12 text-xs-center form-group">
						<span class="radio-container">
							<label class="">
								<input type="radio" class="" name="sort_by" id='sort_by_relevant' checked value="relevant" /> Relevant
							</label>
						</span>
						<span class="radio-container">
							<label class="">
								<input class="" type="radio" name="sort_by" id="sort_by_recent" value="recent" /> Recent
							</label>
						</span>

					</div>
					<div class="col-xs-12 text-xs-center">
						<input type="hidden" name="include_user_mentions" id="include_user_mentions_true" value="true" />
						<button class="btn btn-primary btn-blue" id="submit"> Search </button>
					</div>
					<div class="clearfix"></div>
				</form>


			</div>
		</section>

		<section id="articles" v-bind:class="{'hidden': !show_articles}" class="container-fluid">
			<div class="container">
				<div>
					<p>Select claims and fact checking articles to visualize.</p>
				</div>

				<p class="text-xs-center">
					<button class="btn btn-primary" id="visualize_top"> Visualize </button>

				</p>

				<ul class="list-unstyled" id="article_list">
					<li v-for="article, index in getSubsetOfArticles()" :class="article.site_type" class="rounded">
						<label>
							{{index}}
							<input type="checkbox" :id="article.url_id" :value="article.url_id" />
							<span class="article_title"><a :href="article.url_raw" target="_blank">{{article.title}}</a></span>
							<span class=""><span class="article_domain">From <a :href="'http://' + article.site_domain" target="_blank">{{article.site_domain}}</a></span>
							<span class="article_date">on {{getDateline(article.pub_date)}}</span></span>
							<span class="article_stats"><span><b>{{article.number_of_tweets}}</b> Tweets</span></span>
							<div class="clearfix"></div>
						</label>
					</li>
				</ul>

				<div class="clearfix"></div>
				<div class="text-xs-center">
					<button class="btn btn-primary btn-blue" id="visualize"> Visualize </button>

					<span class="text-xs-center" id="">
						<!-- <button class="btn btn-warning" id="load_more_button"> Load More - old</button> -->
						<button class="btn btn-warning" :disabled="articles_to_show >= articles.length" @click="loadMore()"> Load More </button>
						<div class="text-muted"></div>
					</span>
				</div>

				<div class="clearfix"></div>
			</div>
		</section>



		<section id="graphs" v-bind:class="{'hidden': !show_graphs}" class="container-fluid">
			<div class="col-md-12 text-xs-center" id="legend">
				<label><span class="rounded-circle claim_label">&nbsp;</span> Claims</label>
				<label><span class="rounded-circle fact_checking_label">&nbsp;</span> Fact-Checks</label>
			</div>
			<div class="col-md-6">
				<div id="chart" style="width: 100%; height: 80vh; margin: 0 auto">
					<svg></svg>
				</div>
				<div id="focus_label" class="text-xs-center">Click and drag below to select time interval</div>
			</div>


			<div class="col-md-6" id="sigmagraph">
				<div id="graph-container" style="width: 100%; height: 80vh; margin: 0 auto;">

				</div>
				<div id="graph_help_text">
					Click on network nodes and edges for details.
				</div>
				<div id="zoom_buttons">
					<button class="btn btn-primary" type="button" value ="-" id="zoom-out" v-if="show_zoom_buttons"><i class="fa fa-minus" aria-hidden="true"></i></button>
					<button class="btn btn-primary" type="button" value ="+" id="zoom-in" v-if="show_zoom_buttons"><i class="fa fa-plus" aria-hidden="true"></i></button>
				</div>
			</div>

		</section>



		<!--#include virtual="./includes/footer.html" -->

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document" style="overflow-y: scroll; max-height:75vh;  margin-top: 10vh; margin-bottom:15vh;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title text-center" id="myModalLabel" style="font-size:20px; letter-spacing=2px; "></h4>
					</div>
					<div class="modal-body" id="myModalBody">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/static/js/vue-app.js"></script>
</body>
</html>
